.btn{
    margin-top: 1rem;
    width: max(15rem, 30%);
    padding: 1rem;;
    font-size: clamp(.8rem, 2vw, 1rem);
    background: none;
    border:.1rem solid hsl(0, 0%, 100%,.3);
    color:white;
    text-transform: uppercase;
    cursor: pointer;
}